{% extends "admin/layout.admin.twig" %}

{% block title %}Vehicles
{% endblock %}

{% block content %}
	<div class="admin-page-header">
		<h1>Vehicles</h1>
		<a href="/admin/vehicles/add" class="btn btn-primary">Add New</a>
	</div>
	{% include "admin/blocks/errors.block.twig" with errors %}
	<div class="pretable">
		<div class="search-filter">
			{{Form_open("/admin/vehicles")}}
			<select name="filter_model" id="filter_model">
				<option value="all">Filter by model</option>
				{% for item in models %}
					{% set selected = "" %}
					{% if item == filters.filter_model %}
						{% set selected = "selected" %}
					{% endif %}
					<option value="{{item}}" {{selected}}>{{item}}</option>
				{% endfor %}
			</select>
			<select name="filter_manufacturer" id="filter_manufacturer">
				<option value="all">Filter by manufacturer</option>
				{% for item in manufacturers %}
					{% set selected = "" %}
					{% if item == filters.filter_manufacturer %}
						{% set selected = "selected" %}
					{% endif %}
					<option value="{{item}}" {{selected}}>{{item}}</option>
				{% endfor %}
			</select>
			{{Form_button("Search")}}
			{{Form_close()}}
		</div>
		<div class="pretable-info">{{vehicles|length}}
			item(s)</div>
	</div>
	<table class="admin-table">
		<thead>
			<tr>
				<th>#</th>
				<th>Vehicle Number</th>
				<th>Vehicle Model</th>
				<th>Vehicle Manufacturer</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vehicle in vehicles %}
				<tr>
					<td>{{loop.index}}</td>
					<td class="vehicle_name">{{vehicle.vehicle_number}}</td>
					<td>{{vehicle.vehicle_model}}</td>
					<td>{{vehicle.vehicle_manufacturer}}</td>
					{% set href, id, title = "/admin/vehicles", vehicle.vehicle_id, "Vehicle" %}
					{% include "admin/blocks/tableActions.block.twig" with [href, id, title] %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{# <div class="pagination">
	{% for page in range(1, pages) %}
		<a href="?page={{page}}">{{page}}</a>
	{% endfor %}
	</div> #}
{% endblock %}
