<td>
	<a href="{{href}}/edit/{{id}}" title="Edit {{title}}">
		<i class="far fa-edit" ></i> Edit
	</a>
	<a href="{{href}}/delete/{{id}}" class="delete-vehicle" title="Delete {{title}}">
		<i class="far fa-trash-alt"></i> Delete
	</a>
</td>